* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    background-image: url(sources/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 3vh;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.letrasmain {
    font-family: sans-serif;
    color: white;
    text-shadow: 4px;
}
.letrasmain span {
    background-color: black;
    border-radius: 5px;
    padding: 2px 1vh;
}
.home-span{
    background: rgb(141, 25, 122);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: black 2px 2px;
}
.home-span2{
    background: rgb(141, 25, 122);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: black 2px 2px;
}
.home-span3{
    background: black;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: black 2px 2px;
}
h1 {
    margin: 2vh;
}
h2 {
    font-size: 3vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
p1 {
    color: white;
    display: block;
    margin: 1vh;
    
}
.buttonmain{
    transition: 400ms;
    color: white;
    cursor: pointer;
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 15vh;
}
.buttonmain:hover {
    background-color: transparent;
}
.buttonadmin{
    transition: 0.4s;
    color: white;
    cursor: pointer;
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 15vh;
}
.buttonadmin:hover {
    background-color: transparent;
}
header nav {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}
.nav-buttons{
    display: flex;
    gap: 10px;
    display: flex-end;
}
header {
    background-color: #a419ce;
    padding: 15px;
    border-radius: 1vh;
    box-shadow: black 2px 2px 2px;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-image {
    width: 75px;
    height: 75px;
    border-radius: 1vh;
    animation: pulsate-bck 5s ease-in-out infinite both;
}
@keyframes pulsate-bck {
            0% {
                  transform: scale(1);
        }
        50% {
                  transform: scale(0.9);
        }
        100% {
                  transform: scale(1);
        }
      }

.hover-text {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    opacity: 0;
    white-space: nowrap;
    background: rgb(141, 25, 122);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    transition: all 0.5s ease-in-out;
}

.hover-container:hover .hover-image {
    transform: rotateY(360deg);
}

.hover-container:hover .hover-text {
    left: 80px;
    opacity: 1;
}
.formulario-login{
    width: auto;
    max-width: 400px;
    background: white;
    padding: 1vh;
    margin: auto;
    margin-top: 20vh;
    border-radius: 1vh;
}
.formulario-login input {
    width: auto;
    padding: 1vh;
    margin: auto;
    margin-top: 2vh;
    border-radius: 1vh;
    border: 1px solid purple;    
    display: block;
}
.formulario-registro {
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 8vh;
    margin: auto;
    margin-top: 10vh;
    border-radius: 1vh;
}
.formulario-registro input {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid purple;
    border-radius: 4px;
}
.formulario-registro button {
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: lightgreen;
}
.formulario-login input[type=submit] {
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: lightgreen;
    border: 1px solid black;
    
}
.formulario-registro input[type=button] {
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: lightgreen;
}
.formulario-registro input[type=submit] {
    width: 100px;
    padding: 12px;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: lightgreen;
}
.formulario-registro div {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
}
.container-reg {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.formulario-productos{
    width: auto;
    max-width: 500px;
    background: white;
    padding: 1vh;
    margin: auto;
    margin-top: 2vh;
    border-radius: 1vh;
}
.formulario-productos input {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid purple;
    border-radius: 4px;
    display: block;
    padding: 1vh;
    margin: auto;
    margin-top: 2vh;
}
.formulario-productos input[type=button] {
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: lightgreen;
    border: 1px solid black;
}

.img-home {
    width: 120vh;
    cursor: pointer;
    border-radius: 1vh;
    height: auto;
    animation: bounce 2s infinite ease-in-out;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.li-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    height: auto;
}
.empty {
    color: darkslategrey;
  }
.tabla-usuarios{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table {
    width: 100%;
    background-color: #a419ce;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table td, table th {
    width: 25%;
    padding: 15px;
    text-align: left;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

table th {
    background-color: #7a0ea8;
    text-transform: uppercase;
    text-align: left;
}
button.eliminar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button.eliminar:hover {
    background-color: #e60000;
}
button.ocultar-producto {
    background-color: #3314e6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button.ocultar-producto:hover {
    background-color: #000000;
}
.mensaje-vacio {
    color: gray;
    font-size: 30px;
    padding: 10px;
}
.texto-principal {
    color: white;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    height: 450px;
}

.producto-imagen {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;

}

.producto-detalles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.producto-titulo {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
}

.producto-precio {
    font-size: 1rem;
    color: green;
}

.producto-categoria {
    font-size: 0.9rem;
    color: gray;
}

.producto-agregar, .producto-comprar {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.producto-agregar {
    background-color: lightblue;
    color: black;
}

.producto-agregar:hover {
    background-color: #0043fa;
    color: white;
}

.producto-comprar {
    background-color: lightgreen;
    color: black;
}

.producto-comprar:hover {
    background-color: #00a000;
    color: white;
}
.producto-lista {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 129, 192);
    border-radius: 10px;
    height: auto;
}
.producto-lista img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 10px;
    border: 100px;
}

.boton-catalogo{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.boton-catalogo:hover {
    background-color: #9dbb9d;
    color: white;
}

.condicional{
    background-color: transparent;
    color: white;
}
.container-carrito {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(218, 135, 218);
    border-radius: 10px;
    padding: 30px;
    height: auto;
}